<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278107502305-sa1go21597ls68cnmcsj5v13cuq89ucp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278107502305-sa1go21597ls68cnmcsj5v13cuq89ucp</string>
	<key>API_KEY</key>
	<string>AIzaSyBrLPUUVYBVbZHch4y6RURtNi6wR2XCDLg</string>
	<key>GCM_SENDER_ID</key>
	<string>278107502305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simran.FirebaseStorageApp</string>
	<key>PROJECT_ID</key>
	<string>fir-storageapp-57768</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storageapp-57768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:278107502305:ios:546ffcd8569702d44469a0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-storageapp-57768.firebaseio.com</string>
</dict>
</plist>
